<section class="sidebar">
  <img
    src="/src/images/photo.png"
    alt="photo man smiling"
    class="sidebar_photo"
    width="370"
  />
  <div class="sidebar__contacts">
    <title class="sidebar__title title"></title>
    <ul>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="sidebar__tech">
    <title class="sidebar__title title"></title>
    <ul>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="sidebar__soft">
    <title class="sidebar__title title"></title>
    <ul>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
