<section class="education">
  <h2 class="education__title title">Education</h2>
  <ul class="education__list">
    <li class="education__item">
      <h3 class="education__school">
        Kyiv National Economic University named after Kudryashov
      </h3>
      <h4 class="education__direction">Banking</h4>
      <p class="education__period">September 2012 - July 2016 | Ukraine</p>
    </li>
    <li class="education__item">
      <h3 class="education__school">
        Kyiv Higher Vocational School of Railway Transport
      </h3>
      <h4 class="education__direction">Train conductor</h4>
      <p class="education__period">September 2013 - June 2014 | Ukraine</p>
    </li>
    <li class="education__item">
      <h3 class="education__school">EPAM</h3>
      <h4 class="education__direction">
        It fundamentals for ukrainian switchers | EPAM/UPSKILL ME
      </h4>
      <p class="education__period">May 2022 - June 2022 | Ukraine</p>
    </li>
    <li class="education__item">
      <h3 class="education__school">GoIT</h3>
      <h4 class="education__direction">FullStack developer</h4>
      <p class="education__period">
        July 2022 - May 2023 (I'm still learning) | Ukraine
      </p>
    </li>
  </ul>
</section>
