<section class="projects">
  <h2 class="projects__title title">Projects</h2>
  <ul class="projects__list">
    <li>
      <p class="projects__name">HTML5, CSS3</p>
      <ul>
        <li><a href="" class="projects__link"></a></li>
        <li><a href="" class="projects__link"></a></li>
      </ul>
    </li>
    <li>
      <p class="projects__name">JavaScript</p>
      <ul>
        <li><a href="" class="projects__link"></a></li>
        <li><a href="" class="projects__link"></a></li>
      </ul>
    </li>
    <li>
      <p class="projects__name">React.js, Node.js</p>
      <ul>
        <li><a href="" class="projects__link"></a></li>
        <li><a href="" class="projects__link"></a></li>
      </ul>
    </li>
    <li>
      <p class="projects__name">Typescript</p>
      <ul>
        <li><a href="" class="projects__link"></a></li>
        <li><a href="" class="projects__link"></a></li>
      </ul>
    </li>
  </ul>
</section>
