.education {
    padding-top: 24px;
    padding-bottom: 24px;
}

.education__title {
    margin-bottom: 16px;
}

.education__list {
    margin-left: 10px;
}

.education__item {
    margin-bottom: 32px;
}

.education__school {
    font-size: 22px;
    color: var(--accent);
    margin-bottom: 8px;
}

.education__direction {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.education__period {

}

.education__separator {
    font-weight: 400;
    font-size: 20px;
    color:black;
}